<p id="notice"><%= notice %></p>

<p>
  <b>名前:</b>
    <% if @meeting != nil %>
    <%= @meeting.name == nil ? '不明' : @meeting.name  %>
    <% else %>
    不明
    <% end %>
</p>
<p>
  <b>写真:</b>
    <% if @meeting != nil %>
    <%= @meeting.pic_big == nil ? '不明' : (image_tag @meeting.pic_big) %>
    <% else %>
    不明
    <% end %>
</p>

<p>
  <b>メッセージ:</b>
  <%= @email.message %>
</p>

